

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.custom-menu {
    color: black;
    font-weight: bold;
}

.form-group {
    margin-bottom: 10px;
    width: 40%;
}

